.App {
  text-align: center;
}

.rt-table{
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

label.margin{
  margin-left: 10px;
}

form.border{
  border-bottom-color: coral;
  border-bottom-style: solid;
  padding: 10px;
}

h2.sub-header{
  text-align: center
}

div.header{
  width: 100%;
}
H2.header{
  float: right;
}


/* split screen */
.split {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  border-right-width: thin;
  /* background-color: #111;*/
}

/* Control the right side */
.right {
  right: 0;
   /* background-color: red;*/
}